* { 
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: "Onest", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: var(--default-font-size);
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}

a {
  color: var(--main-link-color);
}

// .main {
// 	overflow: hidden;
// }