:root {
  --default-font-size: 16px;

  /* фоновые цвета */
  --main-bg-color: #FCF7F3;
  --sand-bg-color: #F1E2D7;
  --gold-bg-color: #B8967E;
  --blue-bg-color: #f0f4fb;
  --white-bg-color: #ffffff;

  /* цвета текста */
  --main-black-color: #252525;
  --main-blue-color: #37425F;
  --main-gold-color: #B8967E;
  --main-white-color: #FCF7F3;
  --main-sand-color: #F1E2D7;
  --light-text-color: #8393c3;

  /* padding */
  --content-width: 1088px;
}