@use './core/mixins' as *;
@use './core/functions' as *;

.button {
  width: 330px;
  outline: none;
  height: 54px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--main-sand-color);
  background-color: var(--main-blue-color);

  &--gold {
    color: var(--main-black-color);
    background-color: var(--gold-bg-color);
  }
}