@use './core/mixins' as *;
@use './core/functions' as *;

.footer {
  background-color: #B8967E;
  padding: 60px 0 40px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }
  
  &__bottom {
    font-size: 16px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    color: var(--main-sand-color);
  }

  &__ul {
    display: flex;
    gap: 24px;
  }

  &__li {
    list-style: none;
    font-size: 24px;
    color: var(--main-sand-color);
  }

  &__contact {
    font-size: 24px;
    color: var(--main-sand-color);
  }

  &__column {
    flex: 1;
    flex-shrink: 0;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }
}