@use './core/mixins' as *;
@use './core/functions' as *;

.header {
  width: 100%;
  background-color: #37425F;

  &__inner {
    max-width: var(--content-width);
    position: relative;
    display: flex;
    z-index: 10;
    align-items: center;
    height: 60px;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    justify-content: space-between;
    
    @include media(md) {
      height: 80px;
      gap: 36px;
      align-items: center;
      flex-direction: row;
      padding-left: 16px;
      padding-right: 16px;
    }

    @include media(xl) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    
    @include media(md) {
      gap: 24px;
    }
  }

  &__menu {
    width: fit-content;
    z-index: 1;
    flex-direction: row;
    align-items: center;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 8px;
    transform-origin: top right;
    transform: rotate(0deg) translateX(0px) translateY(-50vh);
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 0.6);
    gap: 0;
    padding: 16px 0;
    
    @include media(md) {
      right: 16px;
    }

    @include media(lg) {
      padding: 8px 24px;
      flex-direction: row;
      position: static;
      transform: none;
      gap: 36px;
    }

    &--active {
      transform: rotate(0deg) translateX(0px) translateY(0px);
      opacity: 1;
    }

    &-item {
      font-size: 22px;
      font-weight: 600;
      list-style: none;
      padding: 16px 36px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media(lg) {
        padding: 0;
      }
      
      @include media(xl) {
        font-size: 22px;
      }
    }
  }

  &__logo {
    position: relative;
    color: var(--main-gold-color);
    text-decoration: none;
    
    &-text {
      font-size: 28px;
      font-weight: 400;
      line-height: 20px;
    }
    
    &-caption {
      font-size: 12px;
      line-height: 10px;
      opacity: 0.2;
      font-weight: 200;
    }
  }

  &__link {
    color: var(--main-sand-color);
    text-decoration: none;
    position: relative;
    display: block;
    font-weight: 400;
  }

  &__contact {
    color: var(--main-sand-color);
    text-decoration: none;
    font-size: 22px;
  }

  &__burger {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 52px;
    height: 36px;
    flex-shrink: 0;

    & img {
        width: 100%;
    }

    & label {
        display: flex;
        flex-direction: column;
        width: 17px;
        cursor: pointer;
    }

    & label span {
        background: var(--light-text-color);
        border-radius: 10px;
        height: 2px;
        margin: 2px 0;
        transition: .4s cubic-bezier(0.68, -0.6, 0.32, 0.6);
    }

    & span:nth-of-type(1) {
        width: 50%;
    }

    & span:nth-of-type(2) {
        width: 100%;
    }

    & span:nth-of-type(3) {
        width: 75%;
    }

    & input[type="checkbox"] {
        display: none;
    }

    & input[type="checkbox"]:checked~span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(11px, 1px)
    }

    & input[type="checkbox"]:checked~span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg)
    }

    & input[type="checkbox"]:checked~span:nth-of-type(3) {
        transform-origin: bottom;
        width: 50%;
        transform: translate(1px, -10px) rotatez(45deg);
    }

    @include media(lg) {
        display: none;
    }
  }
}